body {
  font-family: "Courier New", Courier, monospace;
  background-color: rgb(246, 249, 242);
}
#title {
  font-size: 7vh;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 1rem;
  /* border: 2px solid black; */
  background-color: rgb(185, 184, 184);
  color: azure;
}
