/* Book.css */

#book {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

#book-header {
  font-size: 20px;
  text-align: center;
  margin: 0;
  color: #333;
}

#book img {
  height: 200px;
  margin-left: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#book-info {
  list-style: none;
  padding: 0;
  margin: 0;
}

#book-info li {
  font-size: 20px;
  color: #777;
}

form {
  margin-top: 10px;
  display: inline;
}

label {
  font-size: 20px;
  color: #777;
}

select {
  width: 52%;
  height: 12%;
  padding: 10px;
  margin-top: 5px;
  margin-right: 7px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button[type="submit"] {
  background-color: #5998da;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}
