.shelves-books {
  display: inline-block;
  vertical-align: top;
  margin-top: 0px;
  /* padding: 1rem; */
  padding-left: 1rem;
  padding-right: 1rem;
}

#bookshelves {
  margin: 0px;
  margin-left: 10px;
  /* border: 2px solid black; */
}

#bookshelves-title {
  font-size: 45px;
}

#books {
  /* border: 2px solid black; */
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  /* gap: 20px; */
}

#books-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
