.shelves-books {
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
  padding: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #eeeee7;
  padding-right: 16px;
}

#bookshelves {
  margin: 0px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  padding: 20px;
  border-radius: 8px;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
  margin-bottom: 20px;
  /* border: 2px solid black; */
}

#bookshelves-title {
  font-size: 45px;
  margin-top: 0px;
}

#books {
  /* border: 2px solid black; */
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  /* gap: 20px; */
}

#books-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
