/* user.css */

.user {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#login-title {
  font-size: 14vw;
  margin-bottom: 10px;
  padding: 0;
  color: #333;
}

#slogan {
  font-size: 13px;
  margin-bottom: 20px;
  color: #777;
}

#login-form {
  background-color: #fff;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#username {
  width: 92%;
  padding: 10px;
  height: 40%;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

#login-submit {
  width: 80%;
  padding: 10px;
  background-color: #5998da;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  margin-left: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#login-submit:hover {
  background-color: #0056b3;
}

p {
  color: rgb(255, 0, 0);
  margin-top: 10px;
}
